In [2]:
import pandas as pd
import numpy as np

In [22]:
df1 = pd.read_csv('Booking_Jobs_All_220218.csv')
df2 = pd.read_csv('Booking_Jobs_All_220227.csv')

In [23]:
df1

,Job Title,Job Description,Location,Team
0,Junior Endpoints Engineer,Booking.com\nIt wasn’t so long ago that bookin...,"Manchester, United Kingdom",Engineering
1,UX Writer - B2B,"At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Design & User Experience
2,Treasury Risk Specialist,Booking.com’s global treasury team is looking ...,"Amsterdam, Netherlands",Finance
3,Product Manager - Insurance - Policy Admin,About the company\nIt wasn’t so long ago that ...,"Manchester, United Kingdom",Product
4,Account Executive - Manchester,Account Executive - Bristol\nThis is a full ti...,"Manchester, United Kingdom",Business Development & Support
...,...,...,...,...
648,Senior Software Developer - Horizontal Busines...,It wasn’t so long ago that booking a trip so s...,"Amsterdam, Netherlands and 1 more",Engineering
649,Senior Front End Developer,Senior Front End Developer\nWho are we?\nAt Bo...,"Manchester, United Kingdom",Engineering
650,Technical Programme Manager,"At Booking.com, we make it easier for everyone...","Manchester, United Kingdom",Engineering
651,Senior Java Developer,Senior Java Developer\n Who are we? \nAt Book...,"Manchester, United Kingdom",Engineering
652,"Principal Developer, FinTech","At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Engineering

In [24]:
df2.drop(columns='Job ID', inplace=True)

In [25]:
df2

,Job Title,Job Description,Location,Team
0,Account Executive - Nice (Temporary),As an Account Executive your main task will be...,"Nice, France",Business Development & Support
1,HR Tech Lead - Change Management,Booking.com is the world’s #1 accommodation si...,"Amsterdam, Netherlands",People
2,Account Manager - Los Angeles,Do you enjoy taking ownership and being respon...,"Los Angeles, CA, United States",Business Development & Support
3,Account Manager - Cancun,This full-time position will be based in our C...,"Cancun, Mexico",Business Development & Support
4,Director of Product - Growth Segments,"Established in 1996 in Amsterdam, Booking.com ...","Amsterdam, Netherlands",Leadership
...,...,...,...,...
653,Technical Programme Manager,"At Booking.com, we make it easier for everyone...","Manchester, United Kingdom",Engineering
654,Senior Java Developer,Senior Java Developer\n Who are we? \nAt Book...,"Manchester, United Kingdom",Engineering
655,"Principal Developer, FinTech","At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Engineering
656,iOS Developer - App Marketing,Booking.com is the largest online travel agen...,"Amsterdam, Netherlands",Engineering
657,Back End Developer - Partnerships,Booking.com is the largest online travel agen...,"Amsterdam, Netherlands",Engineering

In [26]:
df1.merge(df2, on='Job Title', how='right', suffixes=['', '_'], indicator=True)

,Job Title,Job Description,Location,Team,Job Description_,Location_,Team_,_merge
0,Junior Endpoints Engineer,Booking.com\nIt wasn’t so long ago that bookin...,"Manchester, United Kingdom",Engineering,Booking.com\nIt wasn’t so long ago that bookin...,"Manchester, United Kingdom",Engineering,both
1,UX Writer - B2B,"At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Design & User Experience,"At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Design & User Experience,both
2,Treasury Risk Specialist,Booking.com’s global treasury team is looking ...,"Amsterdam, Netherlands",Finance,Booking.com’s global treasury team is looking ...,"Amsterdam, Netherlands",Finance,both
3,Product Manager - Insurance - Policy Admin,About the company\nIt wasn’t so long ago that ...,"Manchester, United Kingdom",Product,About the company\nIt wasn’t so long ago that ...,"Manchester, United Kingdom",Product,both
4,Account Executive - Manchester,Account Executive - Bristol\nThis is a full ti...,"Manchester, United Kingdom",Business Development & Support,Account Executive - Bristol\nThis is a full ti...,"Manchester, United Kingdom",Business Development & Support,both
...,...,...,...,...,...,...,...,...
639,Senior Software Developer - Horizontal Busines...,It wasn’t so long ago that booking a trip so s...,"Amsterdam, Netherlands and 1 more",Engineering,It wasn’t so long ago that booking a trip so s...,"Amsterdam, Netherlands and 1 more",Engineering,both
640,Senior Front End Developer,Senior Front End Developer\nWho are we?\nAt Bo...,"Manchester, United Kingdom",Engineering,Senior Front End Developer\nWho are we?\nAt Bo...,"Manchester, United Kingdom",Engineering,both
641,Technical Programme Manager,"At Booking.com, we make it easier for everyone...","Manchester, United Kingdom",Engineering,"At Booking.com, we make it easier for everyone...","Manchester, United Kingdom",Engineering,both
642,Senior Java Developer,Senior Java Developer\n Who are we? \nAt Book...,"Manchester, United Kingdom",Engineering,Senior Java Developer\n Who are we? \nAt Book...,"Manchester, United Kingdom",Engineering,both
643,"Principal Developer, FinTech","At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Engineering,"At Booking.com, data drives our decisions. Tec...","Amsterdam, Netherlands",Engineering,both